$sidebar-width: 200px;

.sidebar {
  background-color: #fafafa;
  border-right: #eee solid 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 10px;
  width: $sidebar-width;
}

.banner {
  background-color: #fff;
  padding: 10px;
  margin: 30px 30px 30px ($sidebar-width + 30px);
  width: 888px + 20px;
  height: 443px + 20px;
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
